{{template "base" .}}
{{define "title"}}Home{{end}}
{{define "main"}}
<h2>Snippets Web App</h2>
<p>This is a template web application. </p>
<p>A snippet demo database is used for its implementation.</p>
<p> A REST API middleware is used to reach that database.</p>
<p>All the functionalities to manage users (login, logout, signin, profile view and password change)
    as well as Snippets view and creation are implementated.</p>
{{end}}